body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    color: darkgoldenrod;
}

h1{
    margin: 0 0 10px 0;
    font-family: 'Passion One', cursive;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    font-size: 45px;
}

.score{
    color: darkblue;
    font-family: 'Passion One', cursive;
    font-size: 20px;
}

.board{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1.5fr repeat(5, 1fr);
    text-align: center;

    background-color:darkblue;
    color: darkgoldenrod;
    border: 2px solid black;

    width: 80vw;
    margin: 20px 0 10px 0;
}

.category{
    background-color:darkgoldenrod;
    color: darkblue;
}

.cell{
    padding: 10px 0;
    border: 2px solid black;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cell-active:hover{
    background-color:silver;
    cursor: pointer;
}

.picked{
    background-color:silver;
}

.category:hover{
    background-color: darkgoldenrod;
    cursor: auto;
}

.picked:hover{
    cursor: auto;
}

.question, .result{
    display: none;
    color: black;
    text-align: center;
}

.question{
    font-size: 25px;
}

.result{
    color: green;
}

.response{
    margin: 10px 0;
    display: flex;
    align-items: center;
}

#userAnswer{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    height: 25px;
    margin-left: 10px;
    font-size: 20px;
    color: black;
}

#userAnswer:focus{
   outline-color: darkgoldenrod;
}

button{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    border: none;
    height: 40px;
}

button:hover{
    cursor: pointer;
}

#resetBtn:hover{
    font-size: 15px;
}

button[type='submit']{
    margin:-10px;
    height: 31px;
    color: darkblue;
    background-color: darkgoldenrod;
}
button[type='submit']:hover{
    background-color: darkblue;
    color: darkgoldenrod;
}

@media (max-width: 767px){
    .cell{
        padding: 0;
    }
    .board{
        width: 90vw;
    }
    body{
        font-size: 14px;
    }
    .question{
        font-size: 18px;
    }
}